<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="include">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/admin.css}">
    <script type="text/javascript" th:src="@{~/js/jquery-1.11.1.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/layer/layer.js}"></script>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Your Company Name.</title>
</head>
</html>