<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul th:fragment="topmenu" class="nav nav-tabs topmenu">
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','1002')}" th:class="${TopMenuFlag=='index'?'active':''}" ><a href="/admin/index">首页</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','1003')}" th:class="${TopMenuFlag=='formtool'?'active':''}"><a href="/task/list">表单提交平台</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','1004')}" th:class="${TopMenuFlag=='sitepage'?'active':''}"><a href="/sitepage/list">网页生成平台</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','1005')}" th:class="${TopMenuFlag=='filemanager'?'active':''}"><a href="/file/list">文件管理平台</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','1006')}" th:class="${TopMenuFlag=='email'?'active':''}"><a href="/email/list">邮件管理平台</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','1007')}" th:class="${TopMenuFlag=='blog'?'active':''}"><a href="/blog/admin/list">论坛</a></li>
    <li th:if="${#strings.contains(session.ADMIN_AUTH+'','1001')}" th:class="${TopMenuFlag=='system'?'active':''}"><a href="/system/adminlog/list">系统设置</a></li>
</ul>
</html>