<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_include::include"></head>
<body>
<header th:replace="admin/_header::header">
    AAC Technologies Holdings Inc.
</header>
<div th:replace="admin/_topmenu::topmenu"></div>
<div class="container fluid">
    <div class="col-md-3">
        <div th:replace="admin/_system_leftmenu::leftmenu"></div>
    </div>
    <div class="col-md-9">
        <div class="toolbar">
            <div class="col-md-6">
                <a class="btn btn-primary btn-outline" id="add-project">
                    <i class="fa fa-plus"></i> 添加管理员
                </a>
            </div>
            <form class="col-md-6 right form-inline">

                <input class="form-control" placeholder="请输入关键词" type="text" name="keyword" value="">
                <button type="submit" class="btn btn-warning btn-outline"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>管理员账号</th>
                <th>所属组</th>
                <th>添加时间</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="admin:${list}">
                <td th:text="${admin['account']}">account</td>
                <td th:text="${admin['admingroup']['name']}">groupid</td>
                <td th:text="${#dates.format(admin['addtime'],'yyyy-MM-dd HH:mm:ss')}">addtime</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<footer th:replace="admin/_footer::footer">
    AAC Technologies Holdings Inc.
</footer>
</body>
</html>