<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_include::include"></head>
<body style="padding: 0 3rem;">
<div class="container">
    <form class="form-horizontal" id="myForm">
        <div class="form-group form-inline">
            <label>账号：<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="account" th:value="${admin.account}" />
        </div>
        <div class="form-group">
            <label>所属管理员组：<span class="text-danger">*</span></label>
            <select class="form-control">
                <option value="0">--请选择--</option>
                <option th:each="group:${list}"
                        th:value="${group.id}"
                        th:text="${group.name}"
                        th:selected="${admin.groupid== group.id}">groupName</option>
            </select>
        </div>
        <hr/>
        <div class="form-group right">
            <input th:value="${admin.getId()}" type="hidden" name="id"/>
            <input type="button" id="submit-save" class="btn btn-warning btn-outline" value="确认修改" />
        </div>
    </form>
</div>
<script>
    $(function () {
        $("#submit-save").click(function () {
            $.ajax({
                type : "post",
                data : $("#myForm").serialize(),
                dataType : "json",
                url : "/system/admin/edit/submit",
                success : function (data) {
                    if(data.code > 0){
                        layer.alert(data.msg, {icon: 6, shade: false}, function () {
                            parent.location.reload();
                        })
                    }else {
                        layer.msg(data.msg);
                    }
                }
            })
        });
    })
</script>
</body>
</html>