<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_include"></head>
<body>
<header th:replace="admin/_header">
    Your Company Name.
</header>
<div th:replace="admin/_topmenu"></div>
<div class="container">
    <div class="form-horizontal" style="margin-bottom: 50px">
        <div class="form-group">
            <h3 class="text text-primary">页面编码(英文字母与数字)</h3>
            <hr/>
            <input class="form-control" placeholder="输入页面编码" type="text" name="code"/>
        </div>
        <div class="form-group">
            <h3 class="text text-primary">页面标题</h3>
            <hr/>
            <input class="form-control" placeholder="输入页面标题" type="text" name="title"/>
        </div>
        <div class="form-group">
            <h3 class="text text-primary">页面</h3>
            <hr/>
            <div class="toolbar">
                <div class="frame frame-12"></div>
                <div class="frame frame-6"><div></div></div>
                <div class="frame frame-4"><div></div></div>
                <div class="frame frame-3"><div></div><div></div></div>
            </div>
        </div>
        <div class="form-group">
            <div class="box">

                <div id="item-list"></div>
            </div>
        </div>

        <div class="form-group center">
            <br/>
            <a class="btn btn-warning" href="javascript:" id="submit-form">保 存</a>
            <a href="index" class="btn btn-default">返 回</a>
        </div>
    </div>
</div>

<footer th:replace="admin/_footer">
    Your Company Name.
</footer>

<script type="text/javascript" th:src="@{~/js/task.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery-ui.min.js}"></script>
<script>
    $(function () {
        $(".frame").draggable({
            revert:true
        })
    })
</script>
</body>
</html>