<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_include"></head>
<body>
<script type="text/javascript" th:src="@{~/js/bootstrap.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{~/css/drag.css}">
<header th:replace="admin/_header">
    Your Company Name.
</header>
<div th:replace="admin/_topmenu"></div>
<div class="container">
    <form class="form-horizontal" id="myForm" style="margin-bottom: 50px">

        <div class="form-group">
            <textarea style="display: none" name="page" id="Template"></textarea>
            <div class="box" region-id="0" id="init" th:utext="${sitePage.page}">
            </div>
        </div>

        <div class="form-group center">
            <br/>
            <a class="btn btn-warning" href="javascript:" id="submit-edit">保 存</a>
            <a href="javascript:history.back()" class="btn btn-default">返 回</a>
        </div>
    </form>
</div>

<footer th:replace="admin/_footer">
    Your Company Name.
</footer>
<div th:replace="sitepage/_template"></div>
<script type="text/javascript" th:src="@{~/js/task.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/drag.js}"></script>
<script>
    $(function () {
        var obj = $("#init");
        obj.find(".part").each(function () {
            var type = $(this).data("type");
            var html = "";
            switch (type){
                case "column":
                    html = '<span class="frame-title">C</span>';
                    break;
                case  "tab":
                    html = '<span class="frame-title">T</span>';
                    break;
            }
            html += '<a class="frame-edit"><i class="fa fa-edit "></i></a>';
            html += '<a class="frame-delete"><i class="fa fa-remove "></i></a>';
            $(this).prepend(html);
        });

        $("#Template").val($("#init").html());

        $("#btnRs").click(function () {
            $("#init").html($("#Template").val());
        })
    });
</script>
</body>
</html>