<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.formtool.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="com.my.formtool.model.Task">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="isopen" jdbcType="BIT" property="isopen" />
    <result column="isunique" jdbcType="BIT" property="isunique" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="author" jdbcType="INTEGER" property="author" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="theme" jdbcType="VARCHAR" property="theme" />
    <result column="fields" jdbcType="LONGVARCHAR" property="fields" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, isopen, isunique, addtime, author, status, theme, fields
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByFilter" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task
    <where>
      <if test="name!=null">
        and name like CONCAT('%',#{name},'%')
      </if>
      <if test="status!=null">
        and status=#{status, jdbcType=INTEGER}
      </if>
      <if test="isopen!=null">
        and isopen=#{isopen, jdbcType=BIT}
      </if>
      <if test="isunique!=null">
        and isunique=#{isunique, jdbcType=BIT}
      </if>
    </where>
    <if test="order!=null">
      order by ${order}
    </if>
    <if test="page !=null and pagesize !=null">
      limit #{page}, #{pagesize}
    </if>
  </select>

  <select id="countByFilter" parameterType="map" resultType="java.lang.Integer">
    select
    count(id) as ct
    from task
    <where>
      <if test="name!=null">
        and name like CONCAT('%',#{name},'%')
      </if>
      <if test="status!=null">
        and status=#{status, jdbcType=INTEGER}
      </if>
      <if test="isopen!=null">
        and isopen=#{isopen, jdbcType=BIT}
      </if>
      <if test="isunique!=null">
        and isunique=#{isunique, jdbcType=BIT}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.my.formtool.model.Task">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="isopen != null">
        isopen,
      </if>
      <if test="isunique != null">
        isunique,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="theme != null">
        theme,
      </if>
      <if test="fields != null">
        fields,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isopen != null">
        #{isopen,jdbcType=BIT},
      </if>
      <if test="isunique != null">
        #{isunique,jdbcType=BIT},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null">
        #{author,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="theme != null">
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="fields != null">
        #{fields,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update task
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isopen != null">
        isopen = #{isopen,jdbcType=BIT},
      </if>
      <if test="isunique != null">
        isunique = #{isunique,jdbcType=BIT},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="theme != null">
        theme = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="fields != null">
        fields = #{fields,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>