.splash-container .user-message {
    display: flex;
    flex-direction: column;
    background-color: #4db8ea;
    color: #FFF;
    padding: 155px 30px 40px
}

.splash-container .splash-message {
    flex: 1 1 auto;
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 300
}

.splash-container .form-message {
    display: flex;
    flex-direction: column;
    padding: 60px 30px 40px;
    background-color: #e9f8ff;
    color: #000
}


.splash-container .form-group {
    margin: 0
}

.splash-container .input-group {
    border-bottom: 2px solid #3f3f3f;
    padding: 6px 0
}

.splash-container .input-group .form-control {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    color: #989898;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    height: 36px
}

.splash-container .splash-description {
    color: #000;
    font-size: 1.9rem;
    font-weight: 300;
    display: block;
    margin: 0 auto;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #4db8ea;
    background-color: #FFF
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none
}

.custom-control-input:active ~ .custom-control-label::before {
    color: #FFF;
    background-color: #FFF
}

.custom-control-input:disabled ~ .custom-control-label {
    color: #878787
}

.custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #eceeef
}

.custom-control-input:disabled ~ .custom-control-label {
    color: #878787
}

.custom-control-input:disabled ~ .custom-control-label::before {
    background-color: #eceeef
}


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FFF
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    background-color: #4db8ea
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
    background-image: none;
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before, .custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
    background-color: rgba(77, 184, 234, .5)
}

.custom-radio .custom-control-label::before {
    border-radius: 50%
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FFF
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none
}

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: rgba(77, 184, 234, .5)
}

.custom-select {
    height: 3.23077rem;
    color: #878787;
    vertical-align: middle;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23323232' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right .75rem center no-repeat #FFF;
    background-size: 8px 10px;
    border: 2px solid #ebebeb;
    border-radius: 0;
    appearance: none
}

.custom-file-input:focus ~ .custom-file-control::before, .custom-select:focus {
    border-color: #bfe5f7
}

.custom-select:focus {
    outline: 0
}

.custom-select:focus::-ms-value {
    color: #878787;
    background-color: #FFF
}

.custom-select[multiple], .custom-select[size]:not([size="1"]) {
    height: auto;
    padding-right: .75rem;
    background-image: none
}

.custom-select:disabled {
    color: #878787;
    background-color: #eceeef
}

.custom-select::-ms-expand {
    opacity: 0
}

.custom-select-sm {
    height: 2.53846rem;
    font-size: 75%
}

.custom-select-lg {
    height: 3.84615rem;
    font-size: 125%
}

.custom-file {
    position: relative;
    height: 3.23077rem
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 3.23077rem;
    margin: 0;
    opacity: 0
}

.custom-file-label, .custom-file-label::after {
    position: absolute;
    top: 0;
    padding: .81rem .7692rem;
    line-height: 1;
    color: #878787;
    right: 0
}

.custom-file-input:focus ~ .custom-file-control {
    border-color: #bfe5f7;
    box-shadow: 0 0 0 0 transparent
}

.custom-control-input:checked ~ .custom-control-label::after {
    color: #4db8ea
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #4db8ea
}

.custom-control-input:checked ~ .custom-control-color::after {
    background-color: #4db8ea;
    color: #FFF
}

.custom-radio .custom-control-input:checked ~ .custom-control-color::after {
    border-radius: 50%
}

.custom-checkbox .custom-control-label::before {
    border: 2px solid #ebebeb;
    content: ""
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    content: "\f00c";
    font-family: "Stroke 7";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 1.1
}

.custom-radio .custom-control-label::before {
    border: 2px solid #ebebeb;
    content: ""
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    content: "\f111";
    font-family: "Stroke 7";
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 1.6
}

.custom-radio-icon {
    margin: 0;
    padding: 0;
    width: 52px;
    height: 52px
}

.custom-radio-icon .custom-control-label::after, .custom-radio-icon .custom-control-label::before {
    display: none
}

.custom-radio-icon .custom-control-label {
    cursor: pointer;
    width: 52px;
    height: 52px;
    line-height: 1;
    border: 2px solid #d5d8de;
    border-radius: 50%;
    font-size: 2.847rem;
    color: #bdbdbd;
    background-color: #FFF;
    text-align: center
}

.custom-radio-icon .custom-control-label:hover {
    border-color: #b8bdc8
}

.custom-radio-icon .custom-control-label i {
    vertical-align: middle
}

.custom-radio-icon input[type=radio]:checked + .custom-control-label {
    border-color: #4db8ea;
    color: #4db8ea;
    background-color: #FFF
}


.custom-radio-icon input[type=radio]:checked + .custom-control-label i {
    color: #4db8ea
}

.col-form-label.is-valid, .custom-control-input.is-valid ~ .custom-control-label, .custom-control.is-valid, .form-check-label.is-valid, .form-control-feedback.is-valid, .was-validated .col-form-label:valid, .was-validated .custom-control-input:valid ~ .custom-control-label, .was-validated .custom-control:valid, .was-validated .form-check-label:valid, .was-validated .form-control-feedback:valid {
    color: #545454
}

.custom-radio-icon.custom-control-inline + .custom-radio-icon.custom-control-inline {
    margin-left: 18px
}

.formid{
    border: 1px #4db8ea solid;
    background-color: #4db8ea;
}

.btn-submit {
    color: #fff;
    background-color: #4db8ea;
    border-color: #4db8ea
}

.btn-submit:hover {
    color: #fff;
    background-color: #bfe5f7;
    border-color: #bfe5f7
}


.btn-save{
    border-color: #4db8ea;
    color: #4db8ea;
    background: none;
}
.btn-save:hover {
    color: #fff;
    background-color: #bfe5f7;
    border-color: #bfe5f7
}