<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_include::header"></head>
<body>
<h1 class="center">Welcome to Your Company Name</h1>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th><i class="fa fa-list-alt"></i> 编号</th>
                <th><i class="fa fa-user"></i> 姓名</th>
                <th><i class="fa fa-sort-numeric-asc"></i> 年龄</th>
            </tr>
        </thead>
        <tbody id="userList">

        </tbody>
    </table>
</div>
</body>
</html>