<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.formtool.mapper.FormMapper">
  <resultMap id="BaseResultMap" type="com.my.formtool.model.Form">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="taskid" jdbcType="INTEGER" property="taskid" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="form" jdbcType="LONGVARCHAR" property="form" />
  </resultMap>
  <sql id="Base_Column_List">
    id, taskid, form, user, username, status, addtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from form
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getForms" parameterType="java.lang.Integer" resultType="java.lang.String">
    select
      form
      from form
      where taskid=#{taskid, jdbcType=INTEGER}
  </select>
  <select id="selectByFilter" parameterType="map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from form
    <where>
      <if test="taskid!=null">
        and taskid=#{taskid, jdbcType=INTEGER}
      </if>
      <if test="user!=null">
        and user=#{user, jdbcType=VARCHAR}
      </if>
      <if test="status!=null">
        and status=#{status, jdbcType=INTEGER}
      </if>
    </where>
    <if test="order!=null">
      order by ${order}
    </if>
    <if test="page !=null and pagesize !=null">
      limit #{page}, #{pagesize}
    </if>
  </select>
  <select id="countByFilter" parameterType="map" resultType="java.lang.Integer">
    select count(id) as ct
    from form
    <where>
      <if test="taskid!=null">
        and taskid=#{taskid}
      </if>
      <if test="user!=null">
        and user=#{user}
      </if>
      <if test="status!=null">
        and status=#{status}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from form
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByTaskid" parameterType="java.lang.Integer">
    delete from form
    where taskid=#{taskid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.my.formtool.model.Form">
    insert into form (id, taskid, user, 
      username, status, addtime, 
      updatetime, form)
    values (#{id,jdbcType=INTEGER}, #{taskid,jdbcType=INTEGER}, #{user,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{form,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective"  parameterType="com.my.formtool.model.Form">
    insert into form
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskid != null">
        taskid,
      </if>
      <if test="user != null">
        user,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="form != null">
        form,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="form != null">
        #{form,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.formtool.model.Form">
    update form
    <set>
      <if test="taskid != null">
        taskid = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="user != null">
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="form != null">
        form = #{form,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>