<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.email.mapper.EmailReadMapper" >
  <resultMap id="BaseResultMap" type="com.my.email.model.EmailRead" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="os" property="os" jdbcType="VARCHAR" />
    <result column="osversion" property="osversion" jdbcType="VARCHAR" />
    <result column="browser" property="browser" jdbcType="VARCHAR" />
    <result column="opentime" property="opentime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, receiver, ip, os, osversion, browser, opentime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from emailread
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from emailread
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.my.email.model.EmailRead" >
    insert into emailread (id, code, receiver, 
      ip, os, osversion, 
      browser, opentime)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, #{osversion,jdbcType=VARCHAR}, 
      #{browser,jdbcType=VARCHAR}, #{opentime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.my.email.model.EmailRead" >
    insert into emailread
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="receiver != null" >
        receiver,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="os != null" >
        os,
      </if>
      <if test="osversion != null" >
        osversion,
      </if>
      <if test="browser != null" >
        browser,
      </if>
      <if test="opentime != null" >
        opentime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="osversion != null" >
        #{osversion,jdbcType=VARCHAR},
      </if>
      <if test="browser != null" >
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="opentime != null" >
        #{opentime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my.email.model.EmailRead" >
    update emailread
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        os = #{os,jdbcType=VARCHAR},
      </if>
      <if test="osversion != null" >
        osversion = #{osversion,jdbcType=VARCHAR},
      </if>
      <if test="browser != null" >
        browser = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="opentime != null" >
        opentime = #{opentime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my.email.model.EmailRead" >
    update emailread
    set code = #{code,jdbcType=VARCHAR},
      receiver = #{receiver,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      os = #{os,jdbcType=VARCHAR},
      osversion = #{osversion,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      opentime = #{opentime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>